<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <level>
    <name value="TRANSACTION" />
    <value value="500000" />
  </level>
  <level>
    <name value="EVENT" />
    <value value="600000" />
  </level>

  <appender name="ConsoleLog" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="FileLog" type="log4net.Appender.RollingFileAppender">
    <!--
    <file value="c:/logfile.log" />
   
    <param name="DatePattern" value="dd.MM.yyyy'.log'" />
    <file value="log/" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maximumFileSize value="5MB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="{%level}%date{yyyy-MM-dd HH:mm:ss} %logger - %message%newline"/>
    </layout>
     -->
    <file value="log/" />
    <datePattern value="yyyyMMdd'_logfile.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="20" />
    <maximumFileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="{%level}%date{yyyy-MM-dd HH:mm:ss} %logger - %message%newline"/>
    </layout>
  </appender>

  <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
    <!-- <param name="DatePattern" value="dd.MM.yyyy'.log'" /> 
    <file value="c:/logfile.log" />
    -->
    <!--
    <file value="log/Errorlog.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maximumFileSize value="5MB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="{%level}%date{yyyy-MM-dd HH:mm:ss} %logger - %message%newline"/>
    </layout>
    -->
    <file value="log/" />
    <datePattern value="yyyyMMdd'_Errorlog.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="20" />
    <maximumFileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="{%level}%date{yyyy-MM-dd HH:mm:ss} %logger - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="ERROR" />
      <param name="LevelMax" value="ERROR" />
    </filter>
  </appender>

  <appender name="TransactionLog" type="log4net.Appender.RollingFileAppender">
    <!--
    <file value="c:/logfile.log" />
    -->
    <file value="log" />
    <datePattern value="yyyyMMdd'_Transaction.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="5MB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="TRANSACTION" />
      <param name="LevelMax" value="TRANSACTION" />
    </filter>
  </appender>


  <appender name="EventLog" type="log4net.Appender.RollingFileAppender">
    <!--
    <file value="c:/logfile.log" />
    -->
    <file value="log" />
    <datePattern value="yyyyMMdd'_Event.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="5MB" />
    <maxSizeRollBackups value="20" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss} - %message%newline"/>
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="EVENT" />
      <param name="LevelMax" value="EVENT" />
    </filter>
  </appender>

  <root>
    <level value="DEBUG" />
  <appender-ref ref="ConsoleLog" />
    <appender-ref ref="FileLog" />
    <appender-ref ref="ErrorLog" />
    <appender-ref ref="TransactionLog" />
    <appender-ref ref="EventLog" />
  </root>
</log4net>